.footer-container{
    text-align: center;
 background-color: #2f7289;
 padding: 0.5em;
    .footer-flax{
        
background-color: rgb(45, 45, 212);
text-align: center;
 background-color: #2f7289;
  resize: horizontal;
  overflow: hidden;
  display: flex;
  justify-content: center;


    }
 }
 .item {

  padding: 0.5em;
  color: rgb(1, 1, 1);

}
.auto {
    flex: auto;
  }
